.jfx-text-field,
.dark,
.jfx-combo-box {
    -fx-background-color: #090a0c;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #CCCCCC;
    -fx-text-fill: #CCCCCC;
}

.jfx-text-field {
    -fx-padding: 0.333333em 1em 0.333333em 1em;
}

.jfx-combo-box {
    -fx-padding: 0em 1em 0em 1em;
}

.jfx-text-field > .input-line,
.jfx-combo-box > .input-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

.jfx-text-field > .input-focused-line,
.jfx-combo-box > .input-focused-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
}

.blue{
    -fx-background-color: #44A7FF;
    -fx-border-radius: 20px;
    -fx-border-color: #CCCCCC;
    -fx-text-fill: #CCCCCC;
    -fx-background-radius: 20px;
}

.dark:hover,
.blue:hover {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,0),rgba(114,131,148,0.9) );
    -fx-background-radius: 20px;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.loginImagePane{
    -fx-background-image: url("../images/Logo.PNG");
}


/* Credits to Palimdra for the original Css code we refactores to java-fx-css https://codepen.io/palimadra/pen/OVvbaY */

.body {
    -fx-font-family: "Arial", Helvetica, sans-serif;
    -fx-font-size: 13px;
}

.info, .success, .warning, .error, .validation {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-margin: 10px 0px;
    -fx-padding: 15px 10px 15px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
}

.info {
    -fx-text-fill: #00529B;
    -fx-background-color: #BDE5F8;
    -fx-background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.success {
    -fx-text-fill: #4F8A10;
    -fx-background-color: #DFF2BF;
    -fx-background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.warning {
    -fx-text-fill: #9F6000;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/Warning.png")
}

.error {
    -fx-text-fill: #D8000C;
    -fx-background-color: #FFBABA;
    -fx-background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.validation {
    -fx-text-fill: #D63301;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/Warning.png")
}
